h1, h2, h3, h4, h5, h6 {
	clear: both;
}


h1, h2, h3 {
  font-family: 'DIN 1451 Std', Arial; font-weight: normal; font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  color: $color__brand-black;
	letter-spacing: 3px;
}

h1 {
	font-size: 2.5em;
  text-transform: uppercase;
}

h2.title,
h3,
h4 {
	&::after {
		content: "";
		display: block;
		width: 50px;
		margin: 5px 0 15px;
		border-bottom: 3px solid $color__brand-black;
	}
}
