@font-face {
    font-family: 'DIN 1451 Std';
    src: url('inc/fonts/DINEngschriftStd.woff2') format('woff2'),
        url('inc/fonts/DINEngschriftStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TisaPro';
    src: url('inc/fonts/TisaPro-Regular.woff2') format('woff2'),
        url('inc/fonts/TisaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

body,
button,
input,
select,
optgroup,
textarea {
	color: $color__text-main;
	font-family: $font__main;
	@include font-size(1);
	line-height: $font__line-height-body;
}

@import "headings";

@import "copy";

@font-face {
    font-family: 'DIN 1451 Std';
    src: url('fonts/DINEngschriftStd.woff2') format('woff2'),
        url('fonts/DINEngschriftStd.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

@font-face {
    font-family: 'TisaPro';
    src: url('fonts/TisaPro-Regular.woff2') format('woff2'),
        url('fonts/TisaPro-Regular.woff') format('woff');
    font-weight: normal;
    font-style: normal;
}

a, span, p  {
  line-height: 1.75em;
  font-family: 'TisaPro';
  color: #333;
}

a {
  font-style: italic;
  color: $color__brand-gold;
  transition: all 0.4s ease-in-out;
}

a:hover,
a:active {
  color: $color__brand-gold-dark;
}
