/*!
Theme Name: Portfolio Theme
Theme URI: http://underscores.me/
Author: Ben Seward
Author URI: http://www.benseward.com
Description: A theme for my personal project portfolio.
Version: 1.0.0
License: GNU General Public License v2 or later
License URI: LICENSE
Text Domain: portfolio-theme
Tags: custom-background, custom-logo, custom-menu, featured-images, threaded-comments, translation-ready

This theme, like WordPress, is licensed under the GPL.
Use it to make something cool, have fun, and share what you've learned with others.

Portfolio Theme is based on Underscores https://underscores.me/, (C) 2012-2017 Automattic, Inc.
Underscores is distributed under the terms of the GNU GPL v2 or later.

Normalizing styles have been helped along thanks to the fine work of
Nicolas Gallagher and Jonathan Neal https://necolas.github.io/normalize.css/
*/
/*--------------------------------------------------------------
>>> TABLE OF CONTENTS:
----------------------------------------------------------------
# Normalize
# Typography
# Elements
# Forms
# Navigation
	## Links
	## Menus
# Layouts
# Accessibility
# Alignments
# Clearings
# Widgets
# Content
	## Posts and pages
	## Comments
# Infinite scroll
# Media
	## Captions
	## Galleries
--------------------------------------------------------------*/
/*--------------------------------------------------------------
# Normalize
--------------------------------------------------------------*/
html {
  font-family: sans-serif;
  -webkit-text-size-adjust: 100%;
  -ms-text-size-adjust: 100%; }

body {
  margin: 0; }

article,
aside,
details,
figcaption,
figure,
footer,
header,
main,
menu,
nav,
section,
summary {
  display: block; }

audio,
canvas,
progress,
video {
  display: inline-block;
  vertical-align: baseline; }

audio:not([controls]) {
  display: none;
  height: 0; }

[hidden],
template {
  display: none; }

a {
  background-color: transparent; }

a:active,
a:hover {
  outline: 0; }

abbr[title] {
  border-bottom: 1px dotted; }

b,
strong {
  font-weight: bold; }

dfn {
  font-style: italic; }

h1 {
  font-size: 2em;
  margin: 0.67em 0; }

mark {
  background: #ff0;
  color: #000; }

small {
  font-size: 80%; }

sub,
sup {
  font-size: 75%;
  line-height: 0;
  position: relative;
  vertical-align: baseline; }

sup {
  top: -0.5em; }

sub {
  bottom: -0.25em; }

img {
  border: 0; }

svg:not(:root) {
  overflow: hidden; }

figure {
  margin: 1em 40px; }

hr {
  box-sizing: content-box;
  height: 0; }

pre {
  overflow: auto; }

code,
kbd,
pre,
samp {
  font-family: monospace, monospace;
  font-size: 1em; }

button,
input,
optgroup,
select,
textarea {
  color: inherit;
  font: inherit;
  margin: 0; }

button {
  overflow: visible; }

button,
select {
  text-transform: none; }

button,
html input[type="button"],
input[type="reset"],
input[type="submit"] {
  -webkit-appearance: button;
  cursor: pointer; }

button[disabled],
html input[disabled] {
  cursor: default; }

button::-moz-focus-inner,
input::-moz-focus-inner {
  border: 0;
  padding: 0; }

input {
  line-height: normal; }

input[type="checkbox"],
input[type="radio"] {
  box-sizing: border-box;
  padding: 0; }

input[type="number"]::-webkit-inner-spin-button,
input[type="number"]::-webkit-outer-spin-button {
  height: auto; }

input[type="search"]::-webkit-search-cancel-button,
input[type="search"]::-webkit-search-decoration {
  -webkit-appearance: none; }

fieldset {
  border: 1px solid #c0c0c0;
  margin: 0 2px;
  padding: 0.35em 0.625em 0.75em; }

legend {
  border: 0;
  padding: 0; }

textarea {
  overflow: auto; }

optgroup {
  font-weight: bold; }

table {
  border-collapse: collapse;
  border-spacing: 0; }

td,
th {
  padding: 0; }

/*--------------------------------------------------------------
# Typography
--------------------------------------------------------------*/
@font-face {
  font-family: 'DIN 1451 Std';
  src: url("inc/fonts/DINEngschriftStd.woff2") format("woff2"), url("inc/fonts/DINEngschriftStd.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TisaPro';
  src: url("inc/fonts/TisaPro-Regular.woff2") format("woff2"), url("inc/fonts/TisaPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
body,
button,
input,
select,
optgroup,
textarea {
  color: #404040;
  font-family: sans-serif;
  font-size: 16px;
  font-size: 1rem;
  line-height: 1.5; }

h1, h2, h3, h4, h5, h6 {
  clear: both; }

h1, h2, h3 {
  font-family: 'DIN 1451 Std', Arial;
  font-weight: normal;
  font-style: normal;
  line-height: 1.25em;
  text-transform: uppercase;
  color: #212529;
  letter-spacing: 3px; }

h1 {
  font-size: 2.5em;
  text-transform: uppercase; }

h2.title::after,
h3::after,
h4::after {
  content: "";
  display: block;
  width: 50px;
  margin: 5px 0 15px;
  border-bottom: 3px solid #212529; }

p {
  margin-bottom: 1.5em; }

dfn, cite, em, i {
  font-style: italic; }

blockquote {
  margin: 0 1.5em; }

address {
  margin: 0 0 1.5em; }

pre {
  background: #eee;
  font-family: "Courier 10 Pitch", Courier, monospace;
  font-size: 15px;
  font-size: 0.9375rem;
  line-height: 1.6;
  margin-bottom: 1.6em;
  max-width: 100%;
  overflow: auto;
  padding: 1.6em; }

code, kbd, tt, var {
  font-family: Monaco, Consolas, "Andale Mono", "DejaVu Sans Mono", monospace;
  font-size: 15px;
  font-size: 0.9375rem; }

abbr, acronym {
  border-bottom: 1px dotted #666;
  cursor: help; }

mark, ins {
  background: #fff9c0;
  text-decoration: none; }

big {
  font-size: 125%; }

@font-face {
  font-family: 'DIN 1451 Std';
  src: url("fonts/DINEngschriftStd.woff2") format("woff2"), url("fonts/DINEngschriftStd.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
@font-face {
  font-family: 'TisaPro';
  src: url("fonts/TisaPro-Regular.woff2") format("woff2"), url("fonts/TisaPro-Regular.woff") format("woff");
  font-weight: normal;
  font-style: normal; }
a, span, p {
  line-height: 1.75em;
  font-family: 'TisaPro';
  color: #333; }

a {
  font-style: italic;
  color: #AB865B;
  transition: all 0.4s ease-in-out; }

a:hover,
a:active {
  color: #79572F; }

/*--------------------------------------------------------------
# Elements
--------------------------------------------------------------*/
html {
  box-sizing: border-box; }

*,
*:before,
*:after {
  /* Inherit box-sizing to make it easier to change the property for components that leverage other behavior; see https://css-tricks.com/inheriting-box-sizing-probably-slightly-better-best-practice/ */
  box-sizing: inherit; }

body {
  background: #eaeaea;
  /* Fallback for when there is no custom background color defined. */ }

hr {
  background-color: #ccc;
  border: 0;
  height: 1px;
  margin-bottom: 1.5em; }

ul, ol {
  margin: 0 0 1.5em 3em; }

ul {
  list-style: disc; }

ol {
  list-style: decimal; }

li > ul,
li > ol {
  margin-bottom: 0;
  margin-left: 1.5em; }

dt {
  font-weight: bold; }

dd {
  margin: 0 1.5em 1.5em; }

img {
  height: auto;
  /* Make sure images are scaled correctly. */
  max-width: 100%;
  /* Adhere to container width. */ }

figure {
  margin: 1em 0;
  /* Extra wide images within figure tags don't overflow the content area. */ }

table {
  margin: 0 0 1.5em;
  width: 100%; }

.std-button {
  display: inline-block;
  padding: 0.25em 0.75em;
  border: 2px solid #AB865B;
  font-style: normal;
  transition: all 0.4s ease-in-out;
  letter-spacing: 1px; }
  .std-button:hover {
    background-color: #AB865B;
    color: #ffffff;
    text-decoration: none;
    letter-spacing: 2px; }

.parallax-container {
  position: relative; }

/*--------------------------------------------------------------
# Forms
--------------------------------------------------------------*/
button,
input[type="button"],
input[type="reset"],
input[type="submit"] {
  border: 1px solid;
  border-color: #ccc #ccc #bbb;
  border-radius: 3px;
  background: #e6e6e6;
  color: rgba(0, 0, 0, 0.8);
  font-size: 12px;
  font-size: 0.75rem;
  line-height: 1;
  padding: .6em 1em .4em; }
  button:hover,
  input[type="button"]:hover,
  input[type="reset"]:hover,
  input[type="submit"]:hover {
    border-color: #ccc #bbb #aaa; }
  button:active, button:focus,
  input[type="button"]:active,
  input[type="button"]:focus,
  input[type="reset"]:active,
  input[type="reset"]:focus,
  input[type="submit"]:active,
  input[type="submit"]:focus {
    border-color: #aaa #bbb #bbb; }

input[type="text"],
input[type="email"],
input[type="url"],
input[type="password"],
input[type="search"],
input[type="number"],
input[type="tel"],
input[type="range"],
input[type="date"],
input[type="month"],
input[type="week"],
input[type="time"],
input[type="datetime"],
input[type="datetime-local"],
input[type="color"],
textarea {
  color: #666;
  border: 1px solid #ccc;
  border-radius: 3px;
  padding: 3px; }
  input[type="text"]:focus,
  input[type="email"]:focus,
  input[type="url"]:focus,
  input[type="password"]:focus,
  input[type="search"]:focus,
  input[type="number"]:focus,
  input[type="tel"]:focus,
  input[type="range"]:focus,
  input[type="date"]:focus,
  input[type="month"]:focus,
  input[type="week"]:focus,
  input[type="time"]:focus,
  input[type="datetime"]:focus,
  input[type="datetime-local"]:focus,
  input[type="color"]:focus,
  textarea:focus {
    color: #111; }

select {
  border: 1px solid #ccc; }

textarea {
  width: 100%; }

/*--------------------------------------------------------------
# Navigation
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Links
--------------------------------------------------------------*/
.site-navigation a {
  color: royalblue;
  font-style: normal; }
  .site-navigation a:visited {
    color: purple; }
  .site-navigation a:hover, .site-navigation a:focus, .site-navigation a:active {
    color: midnightblue; }
  .site-navigation a:focus {
    outline: thin dotted; }
  .site-navigation a:hover, .site-navigation a:active {
    outline: 0; }

/*--------------------------------------------------------------
## Menus
--------------------------------------------------------------*/
.site-header {
  position: absolute;
  z-index: 10; }

.main-navigation {
  clear: both;
  display: inline-block;
  float: right; }
  .main-navigation ul {
    display: none;
    list-style: none;
    margin-top: 1em;
    padding-left: 0; }
    .main-navigation ul ul {
      box-shadow: 0 3px 3px rgba(0, 0, 0, 0.2);
      float: left;
      position: absolute;
      top: 100%;
      left: -999em;
      z-index: 99999; }
      .main-navigation ul ul ul {
        left: -999em;
        top: 0; }
      .main-navigation ul ul li:hover > ul, .main-navigation ul ul li.focus > ul {
        left: 100%; }
      .main-navigation ul ul a {
        width: 200px;
        font-style: normal; }
    .main-navigation ul li:hover > ul,
    .main-navigation ul li.focus > ul {
      left: auto; }
  .main-navigation li {
    float: left;
    position: relative;
    margin-left: 1.5em;
    text-transform: uppercase; }
  .main-navigation a {
    display: block;
    text-decoration: none;
    color: #AB865B;
    font-style: normal; }

.projects-template-default .main-navigation a {
  color: #ffffff; }

/* Small menu. */
.menu-toggle,
.main-navigation.toggled ul {
  display: block; }

@media screen and (min-width: 37.5em) {
  .menu-toggle {
    display: none; }

  .main-navigation ul {
    display: block; } }
.site-main .comment-navigation,
.site-main .posts-navigation,
.site-main .post-navigation {
  margin: 0 0 1.5em;
  overflow: hidden; }
.comment-navigation .nav-previous, .posts-navigation .nav-previous, .post-navigation .nav-previous {
  float: left;
  width: 50%; }
.comment-navigation .nav-next, .posts-navigation .nav-next, .post-navigation .nav-next {
  float: right;
  text-align: right;
  width: 50%; }

/*--------------------------------------------------------------
# Layout
--------------------------------------------------------------*/
section.container {
  margin-top: 6em;
  margin-bottom: 6em; }

/*--------------------------------------------------------------
# Accessibility
--------------------------------------------------------------*/
/* Text meant only for screen readers. */
.screen-reader-text {
  border: 0;
  clip: rect(1px, 1px, 1px, 1px);
  clip-path: inset(50%);
  height: 1px;
  margin: -1px;
  overflow: hidden;
  padding: 0;
  position: absolute !important;
  width: 1px;
  word-wrap: normal !important;
  /* Many screen reader and browser combinations announce broken words as they would appear visually. */ }
  .screen-reader-text:focus {
    background-color: #f1f1f1;
    border-radius: 3px;
    box-shadow: 0 0 2px 2px rgba(0, 0, 0, 0.6);
    clip: auto !important;
    clip-path: none;
    color: #21759b;
    display: block;
    font-size: 14px;
    font-size: 0.875rem;
    font-weight: bold;
    height: auto;
    left: 5px;
    line-height: normal;
    padding: 15px 23px 14px;
    text-decoration: none;
    top: 5px;
    width: auto;
    z-index: 100000;
    /* Above WP toolbar. */ }

/* Do not show the outline on the skip link target. */
#content[tabindex="-1"]:focus {
  outline: 0; }

/*--------------------------------------------------------------
# Alignments
--------------------------------------------------------------*/
.alignleft {
  display: inline;
  float: left;
  margin-right: 1.5em; }

.alignright {
  display: inline;
  float: right;
  margin-left: 1.5em; }

.aligncenter {
  clear: both;
  display: block;
  margin-left: auto;
  margin-right: auto; }

/*--------------------------------------------------------------
# Clearings
--------------------------------------------------------------*/
.clear:before,
.clear:after,
.entry-content:before,
.entry-content:after,
.comment-content:before,
.comment-content:after,
.site-header:before,
.site-header:after,
.site-content:before,
.site-content:after,
.site-footer:before,
.site-footer:after {
  content: "";
  display: table;
  table-layout: fixed; }

.clear:after,
.entry-content:after,
.comment-content:after,
.site-header:after,
.site-content:after,
.site-footer:after {
  clear: both; }

/*--------------------------------------------------------------
# Widgets
--------------------------------------------------------------*/
.widget {
  margin: 0 0 1.5em;
  /* Make sure select elements fit in widgets. */ }
  .widget select {
    max-width: 100%; }

/*--------------------------------------------------------------
# Content
--------------------------------------------------------------*/
/*--------------------------------------------------------------
## Posts and pages
--------------------------------------------------------------*/
.sticky {
  display: block; }

.hentry {
  margin: 0 0 1.5em; }

.updated:not(.published) {
  display: none; }

.page-content,
.entry-content,
.entry-summary {
  margin: 1.5em 0 0; }

.page-links {
  clear: both;
  margin: 0 0 1.5em; }

.project-showcase {
  position: relative; }
  .project-showcase img {
    -webkit-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    -moz-box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75);
    box-shadow: 0px 0px 30px -10px rgba(0, 0, 0, 0.75); }
  .project-showcase .showcase-one {
    width: 58%;
    float: left;
    display: inline-block;
    position: relative;
    z-index: 10; }
  .project-showcase .showcase-two {
    width: 52%;
    margin-left: -10%;
    margin-top: 10%;
    z-index: 9; }
  .project-showcase .mobile-container {
    display: block;
    float: left;
    clear: both;
    width: 100%; }
    .project-showcase .mobile-container .showcase-mobile {
      max-width: 280px;
      width: 25%;
      margin-top: -45%;
      left: 50%;
      transform: translateX(-50%);
      z-index: 11;
      position: relative; }

section.post-navigation {
  width: 100%;
  display: block;
  position: relative; }
  section.post-navigation a {
    position: relative;
    color: #ffffff;
    font-family: "DIN 1451 Std", Arial;
    text-decoration: none;
    font-style: normal;
    letter-spacing: 3px;
    text-transform: uppercase;
    transition: all 0.2s ease-in-out; }
    section.post-navigation a:hover .post-container {
      background-size: 110%;
      transition: all 0.2s ease-in-out; }
      section.post-navigation a:hover .post-container h4:after {
        width: 80px; }
    section.post-navigation a .post-container {
      width: 50%;
      display: inline-block;
      float: left;
      padding: 7em;
      text-align: center;
      background-size: 100%;
      background-position: center;
      transition: all 0.2s ease-in-out; }
      section.post-navigation a .post-container h4:after {
        border-color: #fff;
        margin: 10px auto;
        transition: all 0.2s ease-in-out; }

/* Start of Profile Section */
.profile-section .profile-item {
  margin-bottom: 1em;
  overflow: auto; }
  .profile-section .profile-item span.profile-title {
    width: 20%;
    float: left;
    text-transform: uppercase; }
  .profile-section .profile-item .profile-content {
    width: 80%;
    float: left;
    font-style: italic; }

#profile-skills span {
  top: 3px;
  left: 2%;
  position: absolute;
  color: #fff; }

.skill-item {
  position: relative; }

progress {
  background-color: #AB865B;
  border: 0;
  height: 2em;
  width: 100%; }

progress::-webkit-progress-bar {
  background-color: #79572F; }

progress::-webkit-progress-value {
  background-color: #AB865B; }

progress::-moz-progress-bar {
  background-color: #79572F; }

/* End of Profile Section */
section.project-preview .project-preview-item {
  background-color: #ffffff;
  padding: 1em;
  margin-bottom: 2em;
  position: relative;
  overflow: hidden; }
  section.project-preview .project-preview-item .project-inner-container {
    display: flex;
    align-items: center; }
    section.project-preview .project-preview-item .project-inner-container > .col-md-4:hover {
      background-color: #AB865B; }
    section.project-preview .project-preview-item .project-inner-container .col-md-4 {
      padding: 0;
      background-size: cover;
      background-position: center;
      height: 100%;
      min-height: 100%;
      min-width: 25%;
      transition: 0.4s all ease-in-out; }
      section.project-preview .project-preview-item .project-inner-container .col-md-4 h3 {
        color: #ffffff; }
        section.project-preview .project-preview-item .project-inner-container .col-md-4 h3::after {
          border-color: #ffffff; }
      section.project-preview .project-preview-item .project-inner-container .col-md-4:hover {
        min-width: 100%; }
        section.project-preview .project-preview-item .project-inner-container .col-md-4:hover h3 {
          opacity: 1;
          visibility: visible; }
      section.project-preview .project-preview-item .project-inner-container .col-md-4 h3 {
        animation-delay: 0.5s;
        position: absolute;
        top: 53%;
        left: 50%;
        transform: translate(-75%, -25%);
        opacity: 0;
        visibility: hidden;
        transition: 0.4s ease-in-out; }
        section.project-preview .project-preview-item .project-inner-container .col-md-4 h3.hidden-title::after {
          margin: auto; }
    section.project-preview .project-preview-item .project-inner-container .col-md-8 {
      overflow: hidden;
      width: 100%;
      padding: 1em; }
      section.project-preview .project-preview-item .project-inner-container .col-md-8 p {
        margin-bottom: 1em; }
    section.project-preview .project-preview-item .project-inner-container.hovered .col-md-8 {
      position: absolute;
      display: none; }

/*--------------------------------------------------------------
## Comments
--------------------------------------------------------------*/
.comment-content a {
  word-wrap: break-word; }

.bypostauthor {
  display: block; }

/*--------------------------------------------------------------
## Blocks
--------------------------------------------------------------*/
.title-block {
  display: block;
  margin: 0 auto;
  width: auto;
  margin-bottom: 4em;
  text-align: center; }
  .title-block::after {
    content: "";
    display: block;
    width: 40px;
    margin: 20px auto 0;
    height: 4px;
    background-color: #000; }
  .title-block h1 {
    font-size: 3.5em;
    margin-bottom: 0;
    line-height: 1em; }
  .title-block span {
    color: #b3b3b3; }

.project-title-section {
  margin-top: -60vh; }
  .project-title-section .project-title {
    color: #ffffff;
    margin-bottom: 1.5em; }
    .project-title-section .project-title:after {
      background-color: #ffffff; }
  .project-title-section .project-featured-image {
    display: block;
    margin: auto;
    max-width: 1020px;
    width: 100%; }

.site-footer {
  background-color: #212529;
  padding: 0.5em; }
  .site-footer .site-info {
    text-align: center; }
    .site-footer .site-info span {
      color: #ffffff; }
    .site-footer .site-info .fa.pulse {
      color: #E90606;
      margin: 0 3px; }

/*--------------------------------------------------------------
# Infinite scroll
--------------------------------------------------------------*/
/* Globally hidden elements when Infinite Scroll is supported and in use. */
.infinite-scroll .posts-navigation,
.infinite-scroll.neverending .site-footer {
  /* Theme Footer (when set to scrolling) */
  display: none; }

/* When Infinite Scroll has reached its end we need to re-display elements that were hidden (via .neverending) before. */
.infinity-end.neverending .site-footer {
  display: block; }

/*--------------------------------------------------------------
# Media
--------------------------------------------------------------*/
.page-content .wp-smiley,
.entry-content .wp-smiley,
.comment-content .wp-smiley {
  border: none;
  margin-bottom: 0;
  margin-top: 0;
  padding: 0; }

/* Make sure embeds and iframes fit their containers. */
embed,
iframe,
object {
  max-width: 100%; }

/* Make sure logo link wraps around logo image. */
.custom-logo-link {
  display: inline-block; }

/*--------------------------------------------------------------
## Captions
--------------------------------------------------------------*/
.wp-caption {
  margin-bottom: 1.5em;
  max-width: 100%; }
  .wp-caption img[class*="wp-image-"] {
    display: block;
    margin-left: auto;
    margin-right: auto; }
  .wp-caption .wp-caption-text {
    margin: 0.8075em 0; }

.wp-caption-text {
  text-align: center; }

/*--------------------------------------------------------------
## Galleries
--------------------------------------------------------------*/
.gallery {
  margin-bottom: 1.5em; }

.gallery-item {
  display: inline-block;
  text-align: center;
  vertical-align: top;
  width: 100%; }
  .gallery-columns-2 .gallery-item {
    max-width: 50%; }
  .gallery-columns-3 .gallery-item {
    max-width: 33.33%; }
  .gallery-columns-4 .gallery-item {
    max-width: 25%; }
  .gallery-columns-5 .gallery-item {
    max-width: 20%; }
  .gallery-columns-6 .gallery-item {
    max-width: 16.66%; }
  .gallery-columns-7 .gallery-item {
    max-width: 14.28%; }
  .gallery-columns-8 .gallery-item {
    max-width: 12.5%; }
  .gallery-columns-9 .gallery-item {
    max-width: 11.11%; }

.gallery-caption {
  display: block; }

/*# sourceMappingURL=style.css.map */
