.title-block {
	display: block;
	margin: 0 auto;
	width: auto;
	margin-bottom: 4em;
	text-align: center;

	&::after {
		content: "";
		display: block;
		width: 40px;
		margin: 20px auto 0;
		height: 4px;
		background-color: #000;
	}

	h1 {
		font-size: 3.5em;
		margin-bottom: 0;
		line-height: 1em;
	}

	span {
		color: $color__brand-light-grey;
	}
}

.project-title-section {
	margin-top: -60vh;

	.project-title {
		color: $color__brand-white;
		margin-bottom: 1.5em;

		&:after {
			background-color: $color__brand-white;
		}
	}

	.project-featured-image {
		display: block;
		margin: auto;
		max-width: 1020px;
		width: 100%;
	}
}

.site-footer {
	background-color: $color__brand-black;
	padding: 0.5em;

	.site-info {
		text-align: center;

		span {
			color: #ffffff;
		}

		.fa.pulse {
	    color: #E90606;
	    margin: 0 3px;
		}
	}
}
