/* Start of Profile Section */

.profile-section {
  .profile-item {
    margin-bottom: 1em;
    overflow: auto;

    span.profile-title {
      width: 20%;
      float: left;
      text-transform: uppercase;
    }
    .profile-content {
      width: 80%;
      float: left;
      font-style: italic;
    }
  }
}

#profile-skills span {
    top: 3px;
    left: 2%;
    position: absolute;
    color: #fff;
}

.skill-item {
  position: relative;
}
progress {
    background-color: $color__brand-gold;
    border: 0;
    height: 2em;
    width: 100%;
}

progress::-webkit-progress-bar {
    background-color: $color__brand-gold-dark;
}

progress::-webkit-progress-value {
    background-color: $color__brand-gold;
}

progress::-moz-progress-bar {
    background-color: $color__brand-gold-dark;
}

/* End of Profile Section */

section.project-preview {
  .project-preview-item {
    background-color: $color__brand-white;
    padding: 1em;
    margin-bottom: 2em;
    position: relative;
    overflow: hidden;

    .project-inner-container {
      display: flex;
      align-items: center;

      & > .col-md-4:hover {
        background-color: $color__brand-gold;
      }

      .col-md-4 {
        padding: 0;
        background-size: cover;
        background-position: center;
        height: 100%;
        min-height: 100%;
        min-width: 25%;
        transition: 0.4s all ease-in-out;

        h3 {
          color: $color__brand-white;

          &::after {
            border-color: $color__brand-white
          }
        }

        &:hover {
          min-width: 100%;

          h3 {
            opacity: 1;
            visibility: visible;
          }
        }

        h3 {
          animation-delay: 0.5s;
          position: absolute;
          top: 53%;
          left: 50%;
          transform: translate(-75%, -25%);
          opacity: 0;
          visibility: hidden;
          transition: 0.4s ease-in-out;

          &.hidden-title::after {
            margin: auto;
          }
        }
      }
      .col-md-8 {
        overflow: hidden;
        width: 100%;
        padding: 1em;

        p {
          margin-bottom: 1em;
        }
      }

      &.hovered .col-md-8 {
        position: absolute;
        display: none;
      }
    }
  }
}
