.sticky {
	display: block;
}

.hentry {
	margin: 0 0 1.5em;
}

.updated:not(.published) {
	display: none;
}

.page-content,
.entry-content,
.entry-summary {
	margin: 1.5em 0 0;
}

.page-links {
	clear: both;
	margin: 0 0 1.5em;
}

.project-showcase {
	position: relative;

	img {
		-webkit-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
		-moz-box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
		box-shadow: 0px 0px 30px -10px rgba(0,0,0,0.75);
	}

	.showcase-one {
		width: 58%;
		float: left;
		display: inline-block;
		position: relative;
		z-index: 10;
	}

	.showcase-two {
		width: 52%;
		margin-left: -10%;
		margin-top: 10%;
		z-index: 9;
	}

	.mobile-container {
		display: block;
		float: left;
		clear: both;
		width: 100%;

		.showcase-mobile {
			max-width: 280px;
			width: 25%;
			margin-top: -45%;
			left: 50%;
			transform: translateX(-50%);
			z-index: 11;
			position: relative;
		}
	}
}

section.post-navigation {
	width: 100%;
	display: block;
	position: relative;

	a {
		position: relative;
		color: #ffffff;
		font-family: $font__brand-header;
		text-decoration: none;
		font-style: normal;
		letter-spacing: 3px;
		text-transform: uppercase;
		transition: all 0.2s ease-in-out;

		&:hover {
			.post-container {
				background-size: 110%;
				transition: all 0.2s ease-in-out;

				h4:after {
					width: 80px;
				}
			}
		}

		.post-container {
			width: 50%;
			display: inline-block;
			float: left;
			padding: 7em;
			text-align: center;
			background-size: 100%;
			background-position: center;
			transition: all 0.2s ease-in-out;

			h4 {

				&:after {
					border-color: #fff;
					margin: 10px auto;
					transition: all 0.2s ease-in-out;
				}
			}
		}
	}
}
